@font-face {
    font-family: "Myriad";
    src: url("../font/Myriad.otf");
}

body{
    margin: 0 auto;
    font-family: "Myriad" !important;
}

.navBar{
    width: 100%;
    background: white;
    margin: 0 auto;
    display: block; 
}

.navBar .container{background-color: white !important;}

.actived, .normalMenu:hover, .responsiveMenu:hover, .barsIco:hover{
    background-color: #598548 !important;
    color: white !important;
}

#slider{
	height: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
}

#backs{
    width:
     100%;
    height: 400px;      
    background-size: cover;
    background-repeat: no-repeat;
}
.bg1{
    background-image: url("../img/bg1.png");
}
.bg2{
    background-image: url("../img/bg2.png");
}
.bg3{
    background-image: url("../img/bg3.png");
}

#announc{
	height: 120px !important;
    width: 100%;
    background: #E0E0DF;
    margin: 0 auto;
    display: block;
}
#announc .container{
    height: 120px !important;
    background-color: #E0E0DF !important;
}

.container{
	height: 100px;
    width: 75%;
    background: red;
    margin: 0 auto;
    display: block;
}
@media only screen 
and (max-width: 860px){
	.container{
		width: 100% !important;
	}
}
@media only screen
and (max-width: 1230px){	
	.normalMenu{
		display: none !important;
	}
	#menuBars{
		display: block !important;
	}
}

.normalMenu{
	height: 100px;
    width: 120px;
    float: right;
    border: 0px;
    margin-left: 2px;    
    cursor: pointer;
    font-family: "Myriad" !important;
    background-color: white;
    font-size: 16px;
}

.barsIco{
    background-image: url("../img/3bars.png");
}
.barsIco:hover{
    background-image: url("../img/3bars2.png");
}

.closeIco{
    background-image: url("../img/closeBar.png");
}
.closeIco:hover{
    background-image: url("../img/closeBar2.png");
    background-color: #598548 !important;
}


.responsiveMenu{
	width: 100%;
    height: 60px;
    display: block;
    position: relative;
    border: 0px;
    margin-top: 2px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Myriad" !important;
    background-color: white;
}
#responsiveBar, #responsiveBar .container{
	height: 310px;
}
#responsiveBar{
	display: none;
}

#menuBars{
	height: 100px;
    width: 130px;
    float: right;
    border: 0px;
    display: none;    
    cursor: pointer;
    background-color: white;
}

.mainLogo{
	height: 100px;
    width: 300px;
    float: left;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#about{
    width: 100%;
    background-color: #e0e0df;
    margin: 0 auto;    
	margin-top: 65px !important;
    display: block; 
    height: auto !important;
}
#about .container{
    height: auto !important;
    background-color: #e0e0df !important;
}

#servicesMenu{
    width: 100%;
    background: white;
    margin: 0 auto;
    display: block; 
    height: auto;
}

#servicesMenu .container{
    background-color: white !important;
    height: auto !important;
}

#services{
    width: 100%;
    background-color: #e0e0df;
    margin: 0 auto;
    display: block;
    height: auto; 
}
#services .container{
    background-color: #e0e0df !important;
    height: auto !important;
    padding-bottom: 40px;
}

#orcamentos{
    width: 100%;
    background: navy;
    margin: 0 auto;
    display: block; 
}
#contato{
    width: 100%;
    background: purple;
    margin: 0 auto;
    display: block; 
}

@media only screen 
and (max-width: 600px){
    .mainLogo{
        width: 60% !important;
        height: 80px !important;
        margin-top: 4px !important;
    }
    #menuBars {
        height: 80px !important;
        width: 100px !important;
        float: right;
        border: 0px;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        cursor: pointer !important;
    }
    .navBar .container{height: 80px !important;}
}

#announc p{
    margin-top: 0px;
    padding-top: 50px;
    font-family: "Myriad" !important;
}

#orcBtn{
    float: right;
    border: 2px solid white;
    height: 35px;
    font-family: "Myriad" !important;
    background-color: #598548;
    color: white;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
    margin-top: -45px;
}

#orcBtn:hover{
    background-color: black;
}


@media only screen 
and (max-width: 970px){
    #orcBtn{
        float: none !important;
        margin: 0 auto !important;
        display: block !important;
        margin-top: 15px !important;
    }
    #announc p{
        padding-top: 30px;
        margin: 0 auto !important;
        display: block !important;
        width: 70%;
        text-align: justify;
    }
    #announc, #announc .container{
        height: auto;
        padding-bottom: 20px;
    }
}

#aboutBtn, #missionBtn
{
    height: 45px;
    width: 200px;
    background-color: #e0e0df;
    border: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-family: "Myriad" !important;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    margin-top: -45px;
}
#missionBtn{
    margin-left: 202px;
}

#aboutBtn:hover, #missionBtn:hover
{
    background-color: black;
    color: white;
}

#aboutTxt p, #missionTxt p{
    text-align: justify;
    color: black;
    padding-left: 20px;
    font-size: 18px;
    font-family: "Myriad" !important;
    padding-right: 20px;
}

#aboutTxt em, #missionTxt em{
    color: green !important;
    font-style: normal;
}

#missionTxt{display: none;}

.btnActived{
    background-color: #598548 !important;
    color: white !important;
}

@media only screen 
and (max-width: 430px){
    #aboutBtn, #missionBtn{
        width: 150px !important;
    }

    #missionBtn{margin-left: 150px !important;}
}

.title{
    font-size: 18px;
    font-family: "Myriad" !important;
    color: green;
    margin: 0 auto;
}

.title{
    padding-top: 40px !important;
    padding-bottom: 20px;
}

#serviceP{
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
}

#photoServ{
    height: 300px;
    width: 93%;
    border: 2px solid #598548;
     -webkit-box-shadow:inset 0px 0px 0px 10px white;
    -moz-box-shadow:inset 0px 0px 0px 10px white;
    box-shadow:inset 0px 0px 0px 10px white;
}

.service1Pic{
    background-image: url("../img/bg1.png");
}

#orcamentos .title{color: white !important;}
#orcamentos, #orcamentos .container{
    background-color: #3D3D3C !important;
    height: auto;
}

#orcamentos .container{
    padding-bottom: 40px;
}
.inputt{
    width: 30%;
    height: 35px;
    border: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-top: 20px;
    font-family: "Myriad" !important;
    font-size: 16px;
    padding-left: 5px;
}
.inputm{
    width: 61%;
    height: 35px;
    border: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-top: 20px;
    font-family: "Myriad" !important;
    font-size: 16px;
    padding-left: 5px;
}

#submitBtn{
    border: 2px solid white;
    height: 35px;
    width: 200px;
    font-family: "Myriad" !important;
    background-color: #598548;
    color: white;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
}

#submitBtn:hover{
    background-color: black;
}
